.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container > div:not(:first-child) {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.container > div > div {
	flex: 1;
}

.controls {
	display: flex;
	flex-direction: column;
}

@media (--viewport-7) {
	.controls {
		flex-direction: row;
	}
}

.perCapita {
	padding-left: 2rem;
}

.dateSliderContainer {
	padding: 0 4rem 1rem;
	max-width: 100%;
}

@media (--viewport-7) {
	.dateSliderContainer {
		max-width: 200px;
	}
}

.dateSliderContainer :global .MuiSlider-thumb .MuiSlider-valueLabel {
	cursor: grab;
	text-align: center;
	font-size: 11px;
	left: auto; /* hack: fix mui thumb positioning. */
}

.dateSliderContainer :global .MuiSlider-thumb .MuiSlider-valueLabel > span {
	width: 2rem;
	height: 2rem;
}

.dateSliderValue {
	background: red;
}

.mapNavContainer {
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
	z-index: 900;
}

.viewMode {
	padding: 0 1rem;
}
