.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container > div:not(:first-child) {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.container > div > div {
	flex: 1;
}

.tooltip {
	position: absolute;
	width: 15rem;
	background-color: rgba(255, 255, 255, 0.9);
	font-size: 0.9rem;
	padding: 0.5rem;
}

.yearSliderContainer {
	padding: 0 2rem;
}

.yearSliderContainer :global .MuiSlider-thumb .MuiSlider-valueLabel {
	cursor: grab;
}


.yearSliderContainer :global .MuiSlider-thumb .MuiSlider-valueLabel > span {
	width: 2rem;
	height: 2rem;
}
