.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container > div:not(:first-child) {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.container > div > div {
	flex: 1;
}

.dateSliderContainer {
	padding: 0 4rem 1rem;
	max-width: 200px;
}

.dateSliderContainer :global .MuiSlider-thumb .MuiSlider-valueLabel {
	cursor: grab;
	text-align: center;
	font-size: 11px;
}

.dateSliderContainer :global .MuiSlider-thumb .MuiSlider-valueLabel > span {
	width: 2rem;
	height: 2rem;
}

.dateSliderValue {
	background: red;
}

.mapNavContainer {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}
