.container {
	position: absolute;
	right: 2.5rem;
	top: 0.5rem;
	color: black;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
		1px 1px 0 white;
	padding: 0.5rem;

	max-height: 60vh;
	overflow: scroll;
}

.containerOpen {
	width: 15rem;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	border: 1px solid black;
}

.container a {
	color: #3f51b5;
	text-decoration: none;
}

.container a:hover,
.container a:focus {
	color: #001171;
}

.container a:active {
	color: #3a59ff;
}

.container p {
	margin-top: 0;
}

.heading {
	margin: 0;
}

.heading:not(:first-child) {
	margin-top: 1rem;
}

.sourceLink {
}

.infoIcon {
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}
